* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f4b400;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
    width: auto;
}


.nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav .signup {
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav .login{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* HERO */
.hero {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff3cd;
}

.hero h1 {
    margin-bottom: 10px;
}

/* SECTIONS */
.section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

/* RESPONSIVE */
@media (max-width: 768px) {
   

    .nav {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .header {
        align-items: center;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

/* OVERLAY */
.cart-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

/* KOSÁR PANEL */
.cart-panel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.15);
    transition: right 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/* AKTÍV ÁLLAPOT */
.cart-panel.active {
    right: 0;
}

.cart-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* FEJLÉC */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* TARTALOM */
.cart-content {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

/* LÁBLÉC */
.cart-footer {
    padding: 15px;
    border-top: 1px solid #eee;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background: #f4b400;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* MOBIL */
@media (max-width: 480px) {
    .cart-panel {
        width: 100%;
    }
}

